%ul.nav.nav-tabs
  = active_link_to "Unpaid UFID", billing_path(type: "ufid"), active: :exact, wrap_tag: :li

  = active_link_to "Unpaid Chartfield", billing_path(type: "chartfield"), active: :exact, wrap_tag: :li

  = active_link_to "Unpaid Check", billing_path(type: "check"), active: :exact, wrap_tag: :li

  = active_link_to "Comped", billing_path(type: "comped"), active: :exact, wrap_tag: :li

  = active_link_to "Completed Charge Files", chargefiles_path, active: :inclusive, wrap_tag: :li

  = active_link_to "Report", billing_report_path(date: params[:date], end_date: params[:end_date]), active: :inclusive, wrap_tag: :li

  = active_link_to "Detail Report", billing_detail_report_path(type: "3dp", date: params[:date], end_date: params[:end_date], commit: "Update"), active: :inclusive, wrap_tag: :li

  = active_link_to "Usage Report", billing_usage_report_path(date: params[:date], end_date: params[:end_date], commit: "Update"), active: :inclusive, wrap_tag: :li

  = active_link_to "Tax Report", billing_tax_report_path(date: params[:date], end_date: params[:end_date], commit: "Update"), active: :inclusive, wrap_tag: :li


