%table.table.table-striped
  %thead
    %tr
      %td
        Date

      %td
        Name

      %td
        Type

      %td
        Description

      %td
        Amount


  %tbody.charges
    - @charges.each do |charge|
      - if charge.account.nil?
        %tr
          %td(colspan=7)
            = charge.id
            is not associated with an account!
            
        - next

      %tr
        %td
          = charge.created_at.strftime("%m/%d/%Y")

        %td
          = link_to charge.account.display_name, account_charges_path(charge.account)

        %td
          = charge.display_charge_type

        %td
          = charge.description

        %td
          = number_to_currency(charge.amount)

    %tr
      %td(colspan=3)
        &nbsp;
      %td
        %strong
          Total
      %td
        %strong
          = number_to_currency(@charges.inject(0) {|sum, charge| sum + charge.amount} )