= render "billing_subnav"

%h2 Unpaid Charges

.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %tr
          %td
            Charge Date

          %td
            Gatorlink ID

          %td
            Type

          %td
            Description

          %td
            Payment Method

          %td
            Amount


      %tbody.charges
        - @charges.each do |charge|

          %tr
            %td
              = charge.created_at.strftime("%m/%d/%Y")

            %td
              = link_to charge.account.gatorlink_id, account_charges_path(charge.account)

            %td
              = charge.display_charge_type

            %td
              = charge.description

            %td
              = charge.display_payment_method

            %td
              = number_to_currency(charge.amount)

        %tr
          %td(colspan = 4)
            &nbsp;
          %td
            %strong
              Total
          %td
            %strong
              = number_to_currency(@charges.inject(0) {|sum, charge| sum + charge.amount} )

%br

