- if params[:date]
  - date = params[:date]
- else
  - date = "2017-05-01"

- if params[:end_date]
  - end_date = params[:end_date]
- else
  - end_date = (Time.now + 1.day).strftime("%Y-%m-%d")

= render "billing_subnav"

.row
  .col-sm-12
    %h2 Fab Lab: To Date Charge Summary
    %hr

    %form
      .form-group
        %label{:for => "date"} Start Date
        .input-group.date#datetimepicker1
          = text_field_tag("date", date, {class: "form-control", placeholder: "Start Date"})
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar

      .form-group
        %label{:for => "end_date"} End Date
        .input-group.date#datetimepicker2
          = text_field_tag("end_date", end_date, {class: "form-control", placeholder: "End Date"})
          %span.input-group-addon
            %span.glyphicon.glyphicon-calendar

      = submit_tag("Update", class: "btn btn-primary")


    %table.table.table-striped
      %thead
        %tr
          %td
            Charge Type

          %td
            Number of charges

          %td
            Total

      %tbody
        %tr
          %td 
            = link_to "3D Prints", billing_detail_report_path(type: "3dp", date: date, end_date: end_date, commit: "Update")
          %td
            = @print_charge.count
          %td
            = number_to_currency(@print_charge.inject(0) {|sum, charge| sum + charge.amount} )

        %tr
          %td
            = link_to "CNC", billing_detail_report_path(type: "cnc", date: date, end_date: end_date, commit: "Update")
          %td
            = @cnc_charge.count
          %td
            = number_to_currency(@cnc_charge.inject(0) {|sum, charge| sum + charge.amount} )

        %tr
          %td
            = link_to "Waterjet", billing_detail_report_path(type: "waterjet", date: date, end_date: end_date, commit: "Update")
          %td
            = @waterjet_charge.count
          %td
            = number_to_currency(@waterjet_charge.inject(0) {|sum, charge| sum + charge.amount} )

        %tr
          %td
            = link_to "Laser", billing_detail_report_path(type: "laser", date: date, end_date: end_date, commit: "Update")
          %td
            = @laser_charge.count
          %td
            = number_to_currency(@laser_charge.inject(0) {|sum, charge| sum + charge.amount} )

        %tr
          %td
            = link_to "Materials", billing_detail_report_path(type: "materials", date: date, end_date: end_date, commit: "Update")
          %td
            = @materials_charge.count
          %td
            = number_to_currency(@materials_charge.inject(0) {|sum, charge| sum + charge.amount} )

        %tr
          %td
            = link_to "Design", billing_detail_report_path(type: "design", date: date, end_date: end_date, commit: "Update")
          %td
            = @design_charge.count
          %td
            = number_to_currency(@design_charge.inject(0) {|sum, charge| sum + charge.amount} )

        %tr
          %td
            = link_to "Membership", billing_detail_report_path(type: "membership", date: date, end_date: end_date, commit: "Update")
          %td
            = @membership_charge.count
          %td
            = number_to_currency(@membership_charge.inject(0) {|sum, charge| sum + charge.amount} )

%br

