- if params[:date]
  - date = params[:date]
- else
  - date = "2017-05-01"

- if params[:end_date]
  - end_date = params[:end_date]
- else
  - end_date = (Time.now + 1.day).strftime("%Y-%m-%d")


= render "billing_subnav"

%br

%form
  = hidden_field_tag "type", params[:type]
  .form-group
    %label{:for => "date"} Start Date
    .input-group.date#datetimepicker1
      = text_field_tag("date", date, {class: "form-control", placeholder: "Expiration Date"})
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar

  .form-group
    %label{:for => "end_date"} End Date
    .input-group.date#datetimepicker2
      = text_field_tag("end_date", end_date, {class: "form-control", placeholder: "End Date"})
      %span.input-group-addon
        %span.glyphicon.glyphicon-calendar


  = submit_tag("Update", class: "btn btn-primary")

%br

= link_to "Download CSV", billing_tax_report_path(date: params[:date], end_date: params[:end_date], format: :csv), class: "btn btn-primary"

%hr 

%table.table.table-striped
  %tbody
    %tr
      %td
        Taxable Charge Count
        
      %td
        = @charges_count


    %tr
      %td
        Total Revenue
        
      %td
        = number_to_currency(@subtotal_sum)

    %tr
      %td
        Tax Collected
        
      %td
        = number_to_currency(@tax_sum)

    %tr
      %td
        Total Collected
        
      %td
        = number_to_currency(@total_sum)
