= form_for @material do |form|
  .row
    .col-sm-6          
      .well
        .form-group
          %label{:for => "material_sku"} SKU
          - if @material.persisted?
            = form.text_field(:sku, {class: "form-control", placeholder: "SKU", readonly: true})
          - else
            = form.text_field(:sku, {class: "form-control", placeholder: "SKU"})

        .form-group
          %label{:for => "material_count"} Units in Stock
          = form.text_field(:count, {class: "form-control", placeholder: "Quantity in Stock"})

        .form-group
          %label{:for => "material_minimum_count"} Minimum Stock Amount
          = form.text_field(:minimum_count, {class: "form-control", placeholder: "Minimum Stock Allowed Before Reordering"})

        .form-group
          %label{:for => "material_description"} Description
          = form.text_field(:description, {class: "form-control", placeholder: "Description"})

        .form-group
          %label{:for => "material_price"} Price

          .input-group
            %span.input-group-addon
              $
            = form.text_field(:price, {class: "form-control", placeholder: "Price"})


        = form.submit 'Save New Item', class: "btn btn-success"
