= form_for(@service_charge, url: account_charges_path(@account)) do |f|
  .well
    .form_group
      %label{:for => "sku"} 
        SKU*

      = text_field_tag("sku", nil, {class: "form-control js-material-control", placeholder: "SKU", id: "js-material-sku", required: true})

      %p#item-not-found Item Not Found

    %br

      %label{:for => "qty"} 
        Quantity*
        
      = text_field_tag("qty", 1, {class: "form-control js-material-control", placeholder: "Quantity", id: "js-material-qty", required: true})

    %br

    .form_group
      %label{:for => "charge_payment_method_#{Charge::UFID_PAYMENT}"} 
        Payment Method*
      %br

      = f.radio_button(:payment_method, Charge::UFID_PAYMENT, checked: true, required: true, id: "js-materials-payment-ufid", class: "js-material-control")
      UFID 
      &nbsp;

      = f.radio_button(:payment_method, Charge::CHECK_PAYMENT, required: true, id: "js-materials-payment-check", class: "js-material-control")
      Check
      &nbsp;

      = f.radio_button(:payment_method, Charge::CHARTFIELD_PAYMENT, required: true, id: "js-materials-payment-chartfield", class: "js-material-control")
      Chartfield
      &nbsp;

      = f.radio_button(:payment_method, Charge::COMPED_PAYMENT, required: true, id: "js-materials-payment-comped", class: "js-material-control")
      Not Charged
      &nbsp;

    %br

    .form-group
      %label{:for => "charge_is_taxable"} Taxable?
      = f.check_box(:is_taxable, {class: "form-control js-material-control", checked: true, id: "materials_taxable"})

    = hidden_field_tag("account_id", @account.id)
    = hidden_field_tag("charge[charge_type]", Charge::MATERIALS_CHARGE)
    = hidden_field_tag("charge[amount]", "", id: "js-amount-hidden")
    = hidden_field_tag("charge[description]", "", id: "js-description-hidden")


    .form_group
      %label Item
      %p#js-description-label 

    .form_group
      %label Unit Price
      %p#js-unit-label 

    .form_group
      %label Total Tax
      %p#js-tax-label 

    .form_group
      %label Grand Total
      %p#js-total-label

    = f.submit 'Add Charge', class: "btn btn-success"
