= form_for(@service_charge, url: account_charges_path(@account)) do |f|
  - if @service_charge.errors.any?
    #error_explanation
      %h2= "#{pluralize(@service_charge.errors.count, "error")} prohibited this charge from being saved:"
      %ul
        - @service_charge.errors.full_messages.each do |message|
          %li= message

  .well
    - if @account.expires_at.present?
      .panel.panel-danger
        .panel-body
          %h5
            Account Expires: 
            = @account.display_expiration_date

    .form_group
      %label{:for => "charge[membership_id]"} 
        Membership Plan
      - if @account.expires_at.present?
        =  select_tag "charge[membership_id]", options_for_select(Membership.renewals.affiliation(@account.affiliation).collect{ |m| ["#{m.name} - $#{m.price.to_i}", m.id] })
      - else
        =  select_tag "charge[membership_id]", options_for_select(Membership.new_memberships.affiliation(@account.affiliation).collect{ |m| ["#{m.name} - $#{m.price.to_i}", m.id] })

    %br

    .form_group
      %label{:for => "charge_payment_method_#{Charge::UFID_PAYMENT}"} 
        Payment Method*
      %br

      = f.radio_button(:payment_method, Charge::UFID_PAYMENT, checked: true)
      UFID 
      &nbsp;

      = f.radio_button(:payment_method, Charge::CHECK_PAYMENT)
      Check
      &nbsp;

      = f.radio_button(:payment_method, Charge::CHARTFIELD_PAYMENT)
      Chartfield
      &nbsp;

    %br

    = hidden_field_tag("account_id", @account.id)

    - if @account.active?
      = f.submit 'Add Charge', class: "btn btn-success", data: {confirm: "Are you sure? This will add time to an active account."}

    - else
      = f.submit 'Add Charge', class: "btn btn-success"
