
= render "accounts/accounts_subnav", id: @account.id


.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %tr
          %td
            Charge Date

          %td
            Type

          %td
            Method

          %td
            Description

          %td
            Amount

          %td
            Paid On

          %td(colspan = 2)
            Actions


      %tbody.charges
        - @charges.each do |charge|
          - row_class = charge.paid_at.blank? ? "unpaid" : ""

          %tr{class: row_class }
            %td
              = charge.created_at.strftime("%m/%d/%Y")

            %td
              = charge.display_charge_type

            %td
              = charge.display_payment_method

            %td
              = charge.description

            %td
              = number_to_currency(charge.amount)

            %td
              - if charge.paid_at.present?
                = charge.paid_at.strftime("%m/%d/%Y")
              - else
                = ""

            %td
              - if charge.payment_method != Charge::UFID_PAYMENT && charge.paid_at.blank?
                = link_to "Mark as Paid", account_charge_path(@account, charge), method: :put, class: "btn btn-primary", data: {confirm: "Are you sure? This will mark this charge as paid."}

            %td
              - if charge.paid_at.blank?
                = link_to "Delete Charge", account_charge_path(@account, charge), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure? This will delete this charge permanently!"}

    = paginate @charges


%br

