= form_for(@account) do |form|
  - if account.errors.any?

    #error_explanation
      %h3
        = pluralize(account.errors.count, "error")
        prohibited this account from being saved:

      %ul
        - account.errors.full_messages.each do |message| 
          %li
            = message


  .row
    .col-sm-6          

      %h3 
        Basic Info

      .well

        .form-group
          %label{:for => "account_first_name"} First Name
          = form.text_field(:first_name, {class: "form-control", placeholder: "First Name"})

        .form-group
          %label{:for => "account_last_name"} Last Name
          = form.text_field(:last_name, {class: "form-control", placeholder: "Last Name"})

        .form-group
          %label{:for => "account_account_type_#{Account::LASER_MEMBER_TYPE}"} 
            Account Type
          %br
          Laser Member 
          = form.radio_button(:account_type, Account::LASER_MEMBER_TYPE, {class: "form-control"})

          UF Client
          = form.radio_button(:account_type, Account::INTERNAL_CLIENT_TYPE, {class: "form-control"})

          External Client
          = form.radio_button(:account_type, Account::EXTERNAL_CLIENT_TYPE, {class: "form-control"})

          Staff
          = form.radio_button(:account_type, Account::STAFF_TYPE, {class: "form-control"})


      %h3 
        Contact Info

      .well
        .form-group
          %label{:for => "account_phone"} Phone Number
          = form.text_field(:phone, {class: "form-control", placeholder: "Phone Number"})

        .form-group
          %label{:for => "account_email"} Email address
          = form.email_field(:email, {class: "form-control", placeholder: "Email"})

      = form.submit(class: "btn btn-success")

    .col-sm-6          
      %h3 
        UF Options

      .well
        .form-group
          %label{:for => "account_affiliation_#{Account::UF_AFFILIATION}"} Affiliation
          %br
          UF
          = form.radio_button(:affiliation, Account::UF_AFFILIATION, {class: "form-control"})

          Arts & Architecture 
          = form.radio_button(:affiliation, Account::A2_AFFILIATION, {class: "form-control"})


        .form-group
          %label{:for => "account_gatorlink_id"} Gatorlink ID
          = form.text_field(:gatorlink_id, {class: "form-control", placeholder: "Gatorlink ID"})

        .form-group
          %label{:for => "account_chartfield"} Chartfield
          = form.text_field(:chartfield, {class: "form-control", placeholder: "Chartfield"})

      %h3 
        External Client Options

      .well
        .form-group
          %label{:for => "account_business_name"} Business Name
          = form.text_field(:business_name, {class: "form-control", placeholder: "Business Name"})


      %h3 
        Staff Options

      .well

        .form-group
          %label{:for => "account_gatorlink_id"} Gatorlink ID
          = form.text_field(:gatorlink_id, {class: "form-control", placeholder: "Gatorlink ID"})

        .form-group
          %label{:for => "account_expires_at"} Expiration Date
          .input-group.date#datetimepicker
            = form.text_field(:expires_at, {class: "form-control", placeholder: "Expiration Date"})
            %span.input-group-addon
              %span.glyphicon.glyphicon-calendar

