= form_for(@account) do |form|

  .row
    .col-sm-6          

      %h3 
        Basic Info

      .well
        .form-group
          %label{:for => "account_first_name"} First Name*
          = form.text_field(:first_name, {class: "form-control", placeholder: "First Name", required: true})

        .form-group
          %label{:for => "account_last_name"} Last Name*
          = form.text_field(:last_name, {class: "form-control", placeholder: "Last Name", required: true})

        .form-group
          %label{:for => "account_account_type_#{Account::LASER_MEMBER_TYPE}"} 
            Account Type*
          %br
          UF
          = form.radio_button(:account_type, Account::INTERNAL_CLIENT_TYPE, {class: "form-control", id: "js-internal-button", checked: true})

          Laser Member 
          = form.radio_button(:account_type, Account::LASER_MEMBER_TYPE, {class: "form-control", id: "js-laser-button"})

          External Client
          = form.radio_button(:account_type, Account::EXTERNAL_CLIENT_TYPE, {class: "form-control", id: "js-external-button"})

          Staff
          = form.radio_button(:account_type, Account::STAFF_TYPE, {class: "form-control", id: "js-staff-button"})


      %h3 
        Contact Info

      .well
        .form-group
          %label{:for => "account_phone"} Phone Number
          = form.text_field(:phone, {class: "form-control", placeholder: "Phone Number"})

        .form-group
          %label{:for => "account_email"} Email address*
          = form.email_field(:email, {class: "form-control", placeholder: "Email", required: true})

      = check_box_tag("agreement", 1, false, required: true)
      I agree to abide by 
      %a(href="https://fablab.arts.ufl.edu/help/fab-labs-rules-of-membership-and-use/" target="_blank")
        Fab Lab's Rules of Membership and Use 

      %br
      %br

      = form.submit(class: "btn btn-success")
      = form.submit("Create and Go To Account", class: "btn btn-success")

    .col-sm-6#js-subform
      #js-uf-section
        %h3 
          UF Info

        .well
          .form-group
            %label{:for => "account_gatorlink_id"} Gatorlink Username*
            = form.text_field(:gatorlink_id, {class: "form-control", placeholder: "Gatorlink ID", required: true})

          .form-group
            %label{:for => "account_ufid"} UFID (numbers only)
            = form.text_field(:ufid, {class: "form-control", placeholder: "UFID", pattern: "[0-9]{8}"})
            
          .form-group
            %label{:for => "account_chartfield"} Chartfield Account (optional)
            = form.text_field(:chartfield, {class: "form-control", placeholder: "Chartfield"})

        %h3 
          UF Affiliation

        .well
          .form-group
            %label{:for => "account_affiliation_#{Account::UF_AFFILIATION}"} Affiliation
            %br
            Architecture 
            = form.radio_button(:affiliation, Account::A2_AFFILIATION, {id: "js-arch-button", class: "form-control", checked: true})

            Arts
            = form.radio_button(:affiliation, Account::A2_AFFILIATION, {id: "js-arts-button", class: "form-control"})

            Other UF
            = form.radio_button(:affiliation, Account::UF_AFFILIATION, {id: "js-other-button",  class: "form-control"})

          .form-group
            %label{:for => "account_uf_college"} Select Other College Affiliation
            = select("account", "uf_college", options_for_select(college_list))       

        - if @account.persisted? && @account.account_type == Account::LASER_MEMBER_TYPE
          %h3 
            Laser Membership

          .well           
            .form-group
              %label{:for => "account_expires_at"} Expiration Date
              .input-group.date#datetimepicker
                = form.text_field(:expires_at, {class: "form-control", placeholder: "Expiration Date"})
                %span.input-group-addon
                  %span.glyphicon.glyphicon-calendar


      #js-external-section
        %h3 
          External Client Options

        .well
          .form-group
            %label{:for => "account_business_name"} Business Name
            = form.text_field(:business_name, {class: "form-control", placeholder: "Business Name"})


      #js-staff-section
        %h3 
          Staff Options

        .well

          .form-group
            %label{:for => "account_gatorlink_id"} Gatorlink Username*
            = form.text_field(:gatorlink_id, {class: "form-control", placeholder: "Gatorlink ID", required: true})

          .form-group
            %label{:for => "account_ufid"} UFID*
            = form.text_field(:ufid, {class: "form-control", placeholder: "UFID", pattern: "[0-9]{8}", required: true})
            
          .form-group
            %label{:for => "account_expires_at"} Expiration Date
            .input-group.date#datetimepicker
              = form.text_field(:expires_at, {class: "form-control", placeholder: "Expiration Date"})
              %span.input-group-addon
                %span.glyphicon.glyphicon-calendar

      - if params[:action] == "edit"
        #js-credit-area
          %h3
            Lab Credit

          .well
            .form-group
              %label{:for => "account_credit"} Lab Credit
              = form.text_field(:credit, {class: "form-control", placeholder: "Lab Credit", pattern: '[0-9]+([\.,][0-9]+)?', step: "0.01" })


:javascript
  $(document).ready(function() {
    if(#{@account.account_type == Account::EXTERNAL_CLIENT_TYPE}) {
      accounts_show_external_section();
    }
    else if(#{@account.account_type == Account::STAFF_TYPE}) {
      accounts_show_staff_section();
    }
    else {
      accounts_show_uf_section();
    }
  });    



