%h2
  Member Accounts

%hr 

.row
  .col-sm-12
    %a.btn.btn-primary(href="#{new_account_path}")
      Create New Account

    .pull-right
      %form(action = "#{accounts_path}")
        %input.form-control#account_search{type: "text", placeholder: "Search", name: "q", value: params[:q]}

  %br
  %br

.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %tr
          %td
            Name
          %td
            Type
          %td
            Affiliation
          %td
            Gatorlink
          %td
            Expiration Date
          %td
            Email Address

      %tbody
        - @accounts.each do |account|
          %tr

            %td
              = link_to account.display_name, account

            %td
              = account.display_account_type

            %td
              = account.display_affiliation

            %td
              = account.gatorlink_id.truncate(15) if account.gatorlink_id.present?

            %td
              = account.display_expiration_date

            %td
              = account.email


    = paginate @accounts        



