= render "show_accounts_subnav" 

%br 

.row
  .col-sm-12
    %a.btn.btn-primary(href="#{new_account_path}")
      Create New Account

    = link_to "Download CSV", accounts_path(format: :csv, filter: params[:filter]), class: "btn btn-primary"

    .pull-right
      %form(action = "#{accounts_path}")
        %input{type: "hidden", name: "filter", value: "#{params[:filter]}"}
        %input.form-control#account_search{type: "text", placeholder: "Search", name: "q", value: params[:q]}

  %br
  %br

.row
  .col-sm-12
    %table.table.table-striped
      %thead
        %tr
          %td
            Name
          %td
            Type
          %td
            Affiliation
          %td
            Gatorlink
          %td
            Expiration Date
          %td
            Email Address
          %td
            &nbsp;

      %tbody
        - @accounts.each do |account|
          %tr

            %td
              = link_to account.display_name, account

            %td
              = account.display_account_type

            %td
              = account.display_affiliation

            %td
              = account.gatorlink_id.truncate(15) if account.gatorlink_id.present?

            %td
              = account.display_expiration_date

            %td
              = account.email

            %td
              - if (account.account_type == Account::LASER_MEMBER_TYPE || account.account_type == Account::STAFF_TYPE) && account.expires_at.present? && account.expires_at > Time.now
                = link_to "Access Form", access_form_account_path(account), class: "btn btn-success", target: "_blank"


    = paginate @accounts        



