%p.notice
  = notice


%h2
  Member Accounts

%hr 

.row
  .col-sm-12
    %a.btn.btn-primary(href="#{new_account_path}")
      Create New Account

    .pull-right
      %input.form-control(type="text" placeholder="Search")

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %td
            Name
          %td
            Type
          %td
            Affiliation
          %td
            Expiration Date
          %td
            Email Address
          %td
            Phone Number

      %tbody
        - @accounts.each do |account|
          %tr.table-striped

            %td
              = link_to account.display_name, account

            %td
              = account.display_account_type

            %td
              = account.display_affiliation

            %td
              = account.display_expiration_date

            %td
              = account.email

            %td
              = account.phone



