%p.notice
  = notice


%h2
  Member Accounts

%hr 

.row
  .col-sm-12
    %a.btn.btn-primary(href="#{new_account_path}")
      Create New Account

    .pull-right
      %input.form-control(type="text" placeholder="Search")

.row
  .col-sm-12
    %table.table
      %thead
        %tr
          %td
            Name
          %td
            Affiliation
          %td
            Expiration Date
          %td
            Email Address
          %td
            Phone Number

      %tbody
        - @accounts.each do |account|
          %tr.table-striped

            %td
              = link_to account.name, account

            %td
              = account.affiliation

            %td
              = account.expires_at

            %td
              = account.email

            %td
              = account.phone



