= render "accounts_subnav"

%br
.row
  .col-sm-4
    .panel.panel-default#account_info_panel
      .panel-body
        %h4
          = @account.display_name
        %p
          = @account.email
        %p
          = @account.phone
        %p
          = @account.display_account_type
        %p
          = @account.display_affiliation
        %p
          = @account.gatorlink_id

        - if @account.ufid.present?
          %p
            %strong UFID:
            = @account.ufid

        - if @account.chartfield.present?
          %p
            %strong Chartfield:
            = @account.chartfield

    - if @account.has_credit?
      .panel.panel-default#account_info_panel
        .panel-body
          %h4 
            Lab Credit
          %h5
            = number_to_currency(@account.credit)

    - if (@account.account_type == Account::LASER_MEMBER_TYPE || @account.account_type == Account::STAFF_TYPE) && @account.expires_at.present? && @account.expires_at > Time.now
      = link_to "Access Form", access_form_account_path(@account), class: "btn btn-success", target: "_blank"

  .col-sm-4
    %h3
      Service charge

    = render "charges/service_charge_form", account: @account

  .col-sm-4
    %h3
      Materials charge
      
    = render "charges/materials_charge_form", account: @account


.row
  .col-sm-8.col-sm-offset-4
    %h3
      Membership charge

    - if @account.uf_affiliated?
      = render "charges/membership_charge_form", account: @account
    - else
      %p
        Memberships are only available to UF affiliates.

%hr
= link_to "Back to Accounts", accounts_path, class: "btn btn-primary" 

= link_to "Remove Account", account_path(@account), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure? This will delete this account!"}

= link_to "Create New Account", new_account_path, class: "btn btn-primary pull-right" 

